@model IEnumerable<BBS.Domain.Data.Domain.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BookerLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnddateTim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropLoaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnddateTim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropLoaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingCompany)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
